@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.Home {
  min-height: 100vh;
  background-image: url("/webBg.svg");
  background-size: cover;
  background-position: right;
}
