@media screen and (width < 768px) {
  .Home {
    background: #0000007e; /* Set the background color */
    background-image: url("/webBg.svg"); /* Set the image on top of the color */
    background-blend-mode: multiply; /* Apply blend mode */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
}
